:root{
  background-color: #D9D9D9;
}


.sidebar-container{
  height: 100%;
  width:100px;
  background-color:rgba(207, 208, 211, 0.798);
}

.container{
  background-color: rgb(190, 189, 189);
  display:flex;
  flex-direction: column;
  width:50px !important;
  margin-top:200px;
  gap:20px;
  padding:5px;
  border-radius: 20px;
  padding-top: 10px;;
}
img{
  width:30px;
  margin-left:10px;
}

